.tabelas {
    height: calc(95vh - 55%);
    width: 95%;

    min-height: 435px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 300px 1fr;

    background-color: #D2D3D5;
}

.tabelas > div{
    height: 95%;
    width: 95%;
    margin: auto;
}
